<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pyramid string</title>
</head>
<body>
<div>
<form method="POST" >
    {%csrf_token%}
    <div>
        <p>
        Enter the String: <input type="text" id="string_value" name ="string_value">
    </p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
    </div>
</form>
</div>
</body>
</html>